## 13.2 유가증권시장 12개월 모멘텀

최근 투자 기간 기준으로 12개월 모멘텀 계산 날짜 구하기

In [1]:
from pykrx import stock
import FinanceDataReader as fdr

In [2]:
df = fdr.DataReader(symbol='KS11', start="2019-10")
start = df.loc["2019-10"]
end = df.loc["2020-09"]

In [3]:
start_date = start.index[0]
end_date = end.index[-1]
print(start_date, end_date)

2019-10-01 00:00:00 2020-09-29 00:00:00

가격 모멘텀 계산 시작일 기준으로 등락률을 계산합니다.

In [4]:
kospi = stock.get_market_price_change_by_ticker(
    fromdate="20191002",   # 2019년 10월 01일 종가 
    todate="20200929",
    market="KOSPI"
)
kospi

               종목명      시가      종가    변동폭     등락률        거래량           거래대금
티커
095570      AJ네트웍스    4510    3245  -1265  -28.05   46050913   167022009640
006840       AK홀딩스   33150   17550 -15600  -47.06   12385904   295165158450
027410         BGF    6030    4080  -1950  -32.34   46538597   210899476015
282330      BGF리테일  197000  123500 -73500  -37.31    9723372  1441636865905
138930     BNK금융지주    7210    5060  -2150  -29.82  296589614  1652425019406
...            ...     ...     ...    ...     ...        ...            ...
099340      하나니켈1호     445       0   -445 -100.00          0              0
099350      하나니켈2호    1015       0  -1015 -100.00          0              0
159650      하이골드8호    1890       0  -1890 -100.00          0              0
002300        한국제지   18050       0 -18050 -100.00          0              0
027390  한화갤러리아타임월드   18350       0 -18350 -100.00          0              0

[901 rows x 7 columns]

12개월 등락률(가격 모멘텀, 최근 1개월 제외)을 기준으로 상위 20종목의 종목 코드를 가져와봅시다.

In [5]:
kospi.sort_values(by='등락률', ascending=False)[:20]

             종목명     시가      종가     변동폭      등락률         거래량            거래대금
티커
019175     신풍제약우   5660  166500  160840  2841.70   116240288   6537320892040
019170      신풍제약   6410  126500  120090  1873.48  1917161531  59710873309180
025560      미래산업    172    3300    3128  1818.60  5595248605    666977731827
005257  녹십자홀딩스2우  16000  138000  122000   762.50     5435694    438511545450
28513K    SK케미칼우  20550  166500  145950   710.22    63152609   4770490865050
037270    YGPLUS   1165    8370    7205   618.45   926281441   3814249180565
011000    진원생명과학   4220   29650   25430   602.61  1815682127  26186913711445
007575     일양약품우  16550  106500   89950   543.50     8287475    748457272250
285130     SK케미칼  46550  296500  249950   536.95   162348634  26473231412800
010145     삼성중공우  60100  356000  295900   492.35     6648334   3094906808650
030790     비케이탑스    921    5180    4259   462.43  1463202426    901177996278
009835    한화솔루션우  12150   68200   56050   461.32    53938683   2035897734910
012170   키위미디어그룹    150     600     450   300.00           0               0
002630   오리엔트바이오    424    1625    1201   283.25  1597316657   1230534124841
007570      일양약품  20750   79200   58450   281.69   292290880  18143128107500
033270   유나이티드제약  19700   72500   52800   268.02   154612625   7278417901150
000995   DB하이텍1우  38700  142000  103300   266.93     3616131    376147911750
002410      범양건영   1655    6000    4345   262.54   444212360   1915663341020
006125  SK디스커버리우  14750   53000   38250   259.32    42211614   1613246019630
026890       디피씨   5090   15950   10860   213.36  1904746088  20535265498370

In [6]:
kospi_momentum20 = kospi.sort_values(by='등락률', ascending=False)[:20]
kospi_momentum20 = kospi_momentum20[['종목명', '등락률']]
kospi_momentum20.rename(columns={"등락률": "Momentum"}, inplace=True)
kospi_momentum20

             종목명  Momentum
티커
019175     신풍제약우   2841.70
019170      신풍제약   1873.48
025560      미래산업   1818.60
005257  녹십자홀딩스2우    762.50
28513K    SK케미칼우    710.22
037270    YGPLUS    618.45
011000    진원생명과학    602.61
007575     일양약품우    543.50
285130     SK케미칼    536.95
010145     삼성중공우    492.35
030790     비케이탑스    462.43
009835    한화솔루션우    461.32
012170   키위미디어그룹    300.00
002630   오리엔트바이오    283.25
007570      일양약품    281.69
033270   유나이티드제약    268.02
000995   DB하이텍1우    266.93
002410      범양건영    262.54
006125  SK디스커버리우    259.32
026890       디피씨    213.36

In [7]:
pct_df = stock.get_market_price_change_by_ticker(
    fromdate="20201006",  # 2020-10-05일 종가가 시가 컬럼임
    todate="20210430",
    market="KOSPI"
)
pct_df

             종목명      시가      종가    변동폭     등락률        거래량           거래대금
티커
095570    AJ네트웍스    3380    5560   2180   64.50   68324388   295501643030
006840     AK홀딩스   17500   31100  13600   77.71   16549715   446177690950
027410       BGF    4100    6910   2810   68.54  150084297   917847484220
282330    BGF리테일  124000  153000  29000   23.39    7270374  1067541164467
138930   BNK금융지주    5070    7670   2600   51.28  333576646  2009691636245
...          ...     ...     ...    ...     ...        ...            ...
000545     흥국화재우    9910   11200   1290   13.02   27498990   459271550420
003280      흥아해운     258     258      0    0.00          0              0
005190      동성화학   15700       0 -15700 -100.00          0              0
003415     쌍용양회우   18200       0 -18200 -100.00          0              0
152330  코리아오토글라스   14050       0 -14050 -100.00          0              0

[914 rows x 7 columns]

In [8]:
pct_df = pct_df[['시가', '종가', '등락률']]

In [9]:
kospi_momentum20_result = kospi_momentum20.join(pct_df)
kospi_momentum20_result

             종목명  Momentum      시가      종가     등락률
티커
019175     신풍제약우   2841.70  164500   72900  -55.68
019170      신풍제약   1873.48  127000   69800  -45.04
025560      미래산업   1818.60    3330   15450  363.96
005257  녹십자홀딩스2우    762.50  143500   89400  -37.70
28513K    SK케미칼우    710.22  166500  123000  -26.13
037270    YGPLUS    618.45    7030    5870  -16.50
011000    진원생명과학    602.61   30650   17400  -43.23
007575     일양약품우    543.50  103000   37850  -63.25
285130     SK케미칼    536.95  299000  266500  -10.87
010145     삼성중공우    492.35  357000  335000   -6.16
030790     비케이탑스    462.43    5220    9100   74.33
009835    한화솔루션우    461.32   75100   55600  -25.97
012170   키위미디어그룹    300.00     600    1105   84.17
002630   오리엔트바이오    283.25    1715    1510  -11.95
007570      일양약품    281.69   76800   38250  -50.20
033270   유나이티드제약    268.02   73700   52400  -28.90
000995   DB하이텍1우    266.93  135000  118500  -12.22
002410      범양건영    262.54    6020    4000  -33.55
006125  SK디스커버리우    259.32   51900   41900  -19.27
026890       디피씨    213.36   14550   14000   -3.78

In [10]:
kospi_momentum20_result['원금'] = 10000000
kospi_momentum20_result['매도금'] = (kospi_momentum20_result['원금'] * (100 + kospi_momentum20_result['등락률'])) / 100

In [11]:
kospi_momentum20_result.head()

             종목명  Momentum      시가      종가     등락률        원금         매도금
티커
019175     신풍제약우   2841.70  164500   72900  -55.68  10000000   4432000.0
019170      신풍제약   1873.48  127000   69800  -45.04  10000000   5496000.0
025560      미래산업   1818.60    3330   15450  363.96  10000000  46396000.0
005257  녹십자홀딩스2우    762.50  143500   89400  -37.70  10000000   6230000.0
28513K    SK케미칼우    710.22  166500  123000  -26.13  10000000   7387000.0

In [12]:
최초자산 = kospi_momentum20_result['원금'].sum()
최종자산 = kospi_momentum20_result['매도금'].sum()
mom20_cagr = (최종자산/최초자산) ** (1/0.5) - 1    # 6개월
mom20_cagr * 100

3.2316960900000025

In [13]:
df_ref = fdr.DataReader(
    symbol='KS11', 
    start="2020-10-05",
    end="2021-04-30"
)
df_ref

              Close     Open     High      Low        Volume  Change
Date
2020-10-05  2358.00  2330.55  2364.73  2327.83  7.636200e+08  0.0129
2020-10-06  2365.90  2369.17  2378.28  2355.39  8.617500e+08  0.0034
2020-10-07  2386.94  2350.82  2387.45  2347.82  7.379900e+08  0.0089
2020-10-08  2391.96  2408.49  2409.01  2383.82  9.617300e+08  0.0021
2020-10-12  2403.73  2404.18  2409.42  2393.74  8.435700e+08  0.0049
...             ...      ...      ...      ...           ...     ...
2021-04-26  3217.53  3191.34  3217.53  3191.34  1.300000e+09  0.0099
2021-04-27  3215.42  3218.30  3223.05  3203.25  1.530000e+09 -0.0007
2021-04-28  3181.47  3217.21  3219.69  3176.55  1.410000e+09 -0.0106
2021-04-29  3174.07  3184.75  3200.41  3161.06  1.220000e+09 -0.0023
2021-04-30  3147.86  3176.43  3179.43  3143.38  1.360000e+09 -0.0083

[143 rows x 6 columns]

In [14]:
CAGR = ((df_ref['Close'].iloc[-1] / df_ref['Close'].iloc[0]) ** (1/0.5)) -1
CAGR * 100

78.21457387947552

## 13.3 대형주 12개월 모멘텀

대형주(시가총액 200위) 기준으로 상대 모멘텀이 큰 종목을 20개 선정하는 전략

In [15]:
all = stock.get_market_price_change_by_ticker(
    fromdate="20191002",   # 2019년 10월 01일 종가 
    todate="20200929",
    market="all"
)
all

              종목명     시가     종가    변동폭     등락률       거래량           거래대금
티커
060310         3S   3795   2120  -1675  -44.14  54786875   139092261685
095570     AJ네트웍스   4510   3245  -1265  -28.05  46050913   167022009640
006840      AK홀딩스  33150  17550 -15600  -47.06  12385904   295165158450
054620     APS홀딩스  10450   8590  -1860  -17.80  98122894   912429818405
265520      AP시스템  29000  22050  -6950  -23.97  77059410  2122976695550
...           ...    ...    ...    ...     ...       ...            ...
265920     한화수성스팩   2050      0  -2050 -100.00         0              0
264290  한화에이스스팩3호   2135      0  -2135 -100.00         0              0
279410  한화에이스스팩4호   2130      0  -2130 -100.00         0              0
204990      현성바이탈   2500      0  -2500 -100.00         0              0
134780         화진   3060      0  -3060 -100.00         0              0

[2422 rows x 7 columns]

In [16]:
# 기본 필터링
# 우선주 제외 
all2 = all.filter(regex="0$", axis=0)

In [17]:
all2 = all2[['종목명', '등락률']]
all2

              종목명     등락률
티커
060310         3S  -44.14
095570     AJ네트웍스  -28.05
006840      AK홀딩스  -47.06
054620     APS홀딩스  -17.80
265520      AP시스템  -23.97
...           ...     ...
265920     한화수성스팩 -100.00
264290  한화에이스스팩3호 -100.00
279410  한화에이스스팩4호 -100.00
204990      현성바이탈 -100.00
134780         화진 -100.00

[2307 rows x 2 columns]

In [18]:
cap = stock.get_market_cap_by_ticker(date="20200929", market="ALL") 
cap = cap[['시가총액']]
cap

                   시가총액
티커
005930  347441344410000
000660   61152198660000
035420   48704096617500
051910   46167392322000
207940   45653850000000
...                 ...
224020       2565000000
267810       2219945000
344860       2046000000
225860       2033098468
238500       1938416724

[2500 rows x 1 columns]

In [19]:
all3 = all2.join(other=cap)
all3

              종목명     등락률          시가총액
티커
060310         3S  -44.14  9.498132e+10
095570     AJ네트웍스  -28.05  1.519383e+11
006840      AK홀딩스  -47.06  2.324947e+11
054620     APS홀딩스  -17.80  1.751864e+11
265520      AP시스템  -23.97  3.192890e+11
...           ...     ...           ...
265920     한화수성스팩 -100.00           NaN
264290  한화에이스스팩3호 -100.00           NaN
279410  한화에이스스팩4호 -100.00           NaN
204990      현성바이탈 -100.00           NaN
134780         화진 -100.00           NaN

[2307 rows x 3 columns]

In [20]:
# 대형주 필터링
big = all3.sort_values(by='시가총액', ascending=False)[:200]
big

              종목명     등락률          시가총액
티커
005930       삼성전자   19.14  3.474413e+14
000660     SK하이닉스    2.44  6.115220e+13
035420      NAVER   85.31  4.870410e+13
051910       LG화학  114.78  4.616739e+13
207940   삼성바이오로직스  113.62  4.565385e+13
...           ...     ...           ...
032350     롯데관광개발   38.12  1.066845e+12
122870  와이지엔터테인먼트  139.67  1.066451e+12
214320        이노션  -19.36  1.066000e+12
161890       한국콜마    8.58  1.057111e+12
073240      금호타이어  -14.93  1.055682e+12

[200 rows x 3 columns]

In [21]:
big.sort_values(by='등락률', ascending=False)

           종목명      등락률          시가총액
티커
019170    신풍제약  1873.48  6.702601e+12
096530      씨젠  1137.05  6.831339e+12
011000  진원생명과학   602.61  1.324985e+12
285130   SK케미칼   536.95  3.481324e+12
196170    알테오젠   383.38  5.063347e+12
...        ...      ...           ...
010950   S-Oil   -47.83  5.809272e+12
145020      휴젤   -53.15  2.314834e+12
017800  현대엘리베이   -54.32  1.589162e+12
086450    동국제약   -57.47  1.215981e+12
000100    유한양행   -72.03  4.292207e+12

[200 rows x 3 columns]

In [22]:
big_pct20 = big.sort_values(by='등락률', ascending=False)[:20]
big_pct20

               종목명      등락률          시가총액
티커
019170        신풍제약  1873.48  6.702601e+12
096530          씨젠  1137.05  6.831339e+12
011000      진원생명과학   602.61  1.324985e+12
285130       SK케미칼   536.95  3.481324e+12
196170        알테오젠   383.38  5.063347e+12
268600        셀리버리   381.04  1.655893e+12
237690        에스티팜   297.21  1.330173e+12
007570        일양약품   281.69  1.511585e+12
033270     유나이티드제약   268.02  1.177750e+12
060250  NHN한국사이버결제   226.97  1.573540e+12
088800       에이스테크   217.63  1.077194e+12
112610       씨에스윈드   202.13  1.713014e+12
067630   에이치엘비생명과학   200.48  1.463891e+12
006120     SK디스커버리   185.27  1.216519e+12
068760      셀트리온제약   181.74  4.060854e+12
247540      에코프로비엠   173.47  2.873404e+12
035720         카카오   165.09  3.210086e+13
095700         제넥신   159.64  3.464387e+12
278280          천보   156.48  1.703000e+12
005690         파미셀   143.59  1.082259e+12

In [27]:
pct_df = stock.get_market_price_change_by_ticker(
    fromdate="20201006",  # 2020-10-05일 종가가 시가 컬럼임
    todate="20211008",
    market="ALL"
)
pct_df = pct_df[['시가', '종가', '등락률']]
pct_df

           시가     종가     등락률
티커
060310   2165   3790   75.06
095570   3380   5690   68.34
006840  17500  26300   50.29
054620   8620  15300   77.49
265520  22150  23500    6.09
...       ...    ...     ...
023890  50000      0 -100.00
291210   2000      0 -100.00
102210   1100      0 -100.00
008800   1770      0 -100.00
284420  12900      0 -100.00

[2500 rows x 3 columns]

In [24]:
big_mom_result = big_pct20.join(pct_df, lsuffix='_m')
big_mom_result

               종목명    등락률_m          시가총액      시가      종가    등락률
티커
019170        신풍제약  1873.48  6.702601e+12  127000   69800 -45.04
096530          씨젠  1137.05  6.831339e+12  279800   93600 -66.55
011000      진원생명과학   602.61  1.324985e+12   30650   17400 -43.23
285130       SK케미칼   536.95  3.481324e+12  299000  266500 -10.87
196170        알테오젠   383.38  5.063347e+12  181000   80700 -55.41
268600        셀리버리   381.04  1.655893e+12  202400  114800 -43.28
237690        에스티팜   297.21  1.330173e+12   75100  114100  51.93
007570        일양약품   281.69  1.511585e+12   76800   38250 -50.20
033270     유나이티드제약   268.02  1.177750e+12   73700   52400 -28.90
060250  NHN한국사이버결제   226.97  1.573540e+12   68400   51000 -25.44
088800       에이스테크   217.63  1.077194e+12   25900   17950 -30.69
112610       씨에스윈드   202.13  1.713014e+12  107000   77000 -28.04
067630   에이치엘비생명과학   200.48  1.463891e+12   31250   10900 -65.12
006120     SK디스커버리   185.27  1.216519e+12   63500   57900  -8.82
068760      셀트리온제약   181.74  4.060854e+12  112200  133000  18.54
247540      에코프로비엠   173.47  2.873404e+12  136100  181000  32.99
035720         카카오   165.09  3.210086e+13  370500  113500 -69.37
095700         제넥신   159.64  3.464387e+12  144400  102000 -29.36
278280          천보   156.48  1.703000e+12  168900  181400   7.40
005690         파미셀   143.59  1.082259e+12   19300   16550 -14.25

In [25]:
big_mom_result['원금'] = 10000000
big_mom_result['매도금'] =  (big_mom_result['원금'] * (100 + big_mom_result['등락률'])) / 100

In [30]:
최초자산 = big_mom_result['원금'].sum()
최종자산 = big_mom_result['매도금'].sum()
big_mom_cagr = (최종자산/최초자산) ** (1/1) - 1    # 12개월
big_mom_cagr * 100

-25.185500000000005